In [1]:
# https://cricketapi-icc.pulselive.com/fixtures?matchTypes=T20I%2CT20%2CTEST%2CODI%2CFIRST_CLASS%2CLIST_A&tournamentTypes=I%2CWI&teamTypes=m&matchStates=C&page=0&pageSize=10&sort=desc

In [2]:
from datetime import date
from datetime import timedelta
from datetime import datetime
import re
import requests as req
import pandas as pd

In [3]:
api_endpoints = {
    1: 'https://cricketapi-icc.pulselive.com/fixtures',
    2: 'https://cricketapi-icc.pulselive.com/fixtures?matchTypes=T20I',
    3: 'https://cricketapi-icc.pulselive.com/fixtures?matchTypes=ODI',
    4: 'https://cricketapi-icc.pulselive.com/fixtures?matchTypes=T20',
    5: 'https://cricketapi-icc.pulselive.com/fixtures?tournamentId=2858',
    6: 'https://cricketapi-icc.pulselive.com/teams/',
    7: 'https://cricketapi-icc.pulselive.com/fixtures?matchTypes=LIST_A',
    8: 'https://cricketapi-icc.pulselive.com/fixtures?matchTypes=TEST',
    9: 'https://cricketapi-icc.pulselive.com/fixtures/8199/scoring',
    10: 'https://cricketapi-icc.pulselive.com/fixtures/8199/uds/traj',
    11: 'https://cricketapi-icc.pulselive.com/fixtures/8199/uds/',
    12: 'https://cricketapi-icc.pulselive.com/fixtures?tournamentTypes=I',
    13: 'https://cricketapi-icc.pulselive.com/fixtures?startDate=2020-02-20',
    14: 'https://cricketapi-ecb.pulselive.com/players',
    15: 'https://cricketapi-ecb.pulselive.com/fixtures?tournamentIds=3123&pageSize=300',
}

In [4]:
url = "https://cricketapi-icc.pulselive.com/fixtures/8199/uds/"
match = req.get(url).json()

In [5]:
match_keys = list(match.keys())
match_teams_keys = list(match['teams'][0].keys())
teams_players_keys = list(match['teams'][0]['players'][0].keys())
print('match_keys = ', match_keys,
      'match_teams_keys = ', match_teams_keys,
      'teams_players_keys = ', teams_players_keys,
      sep = '\n'
     )

match_keys =
['teams', 'match', 'description', 'battingOrder', 'isLimitedOvers', 'lastUpdated', 'overs']
match_teams_keys =
['id', 'team', 'players', 'wicketKeeper', 'captain']
teams_players_keys =
['id', 'fullName', 'shortName', 'nationality', 'dateOfBirth', 'rightArmedBowl', 'rightHandedBat']

In [6]:
desc = match['description']
batting_order = match['battingOrder']
is_limited = match['isLimitedOvers']
last_updated = match['lastUpdated']
overs = match['overs']


print("Description = " + desc,
      "Batting Order = ", batting_order,
      "Is Limited? " + str(is_limited),
      "Last Updated = ", last_updated,
      "Overs = " + str(overs),
     sep="\n")

Description = Match 8
Batting Order =
[0, 1]
Is Limited? True
Last Updated =
[1581004579722]
Overs = 50

In [7]:
pd.DataFrame.from_dict(match['teams'])

,id,team,players,wicketKeeper,captain
0,19680,"{'id': 19, 'fullName': 'South Africa', 'shortN...","[{'id': 456, 'fullName': 'Hashim Amla', 'short...","{'id': 834, 'fullName': 'Quinton de Kock', 'sh...","{'id': 24, 'fullName': 'Faf du Plessis', 'shor..."
1,19681,"{'id': 14, 'fullName': 'India', 'shortName': '...","[{'id': 107, 'fullName': 'Rohit Sharma', 'shor...","{'id': 1, 'fullName': 'MS Dhoni', 'shortName':...","{'id': 164, 'fullName': 'Virat Kohli', 'shortN..."

In [8]:
south_africa = pd.DataFrame.from_dict(match['teams'][0]['team'], orient='index')
india = pd.DataFrame.from_dict(match['teams'][1]['team'], orient='index')

In [9]:
pd.concat([south_africa, india], axis=1)

                           0       0
id                        19      14
fullName        South Africa   India
shortName       South Africa   India
abbreviation              SA     IND
type                       m       m
primaryColor          0B5425  0057AF
secondaryColor        F5AB00  FF5500

In [10]:
pd.DataFrame.from_dict(match['match'])

               id                           name                tournamentId
id           8199  ICC Cricket World Cup 2019-08                        8191
name         8199  ICC Cricket World Cup 2019-08  ICC Cricket World Cup 2019
provisional  8199  ICC Cricket World Cup 2019-08                       False

In [11]:
south_africa_captain = pd.DataFrame.from_dict(match['teams'][0]['captain'], orient='index')
india_captain = pd.DataFrame.from_dict(match['teams'][1]['captain'], orient='index')

In [12]:
pd.concat([south_africa_captain, india_captain], axis=1)

                             0            0
id                          24          164
fullName        Faf du Plessis  Virat Kohli
shortName         F du Plessis      V Kohli
nationality      South African       Indian
dateOfBirth         1984-07-13   1988-11-05
rightArmedBowl            True         True
rightHandedBat            True         True
bowlingStyle          LEG_SPIN          NaN

In [13]:
south_africa_wk = pd.DataFrame.from_dict(match['teams'][0]['wicketKeeper'], orient='index')
india_wk = pd.DataFrame.from_dict(match['teams'][1]['wicketKeeper'], orient='index')

In [14]:
pd.concat([south_africa_wk, india_wk], axis=1)

                              0           0
id                          834           1
fullName        Quinton de Kock    MS Dhoni
shortName             Q de Kock    MS Dhoni
nationality       South African      Indian
dateOfBirth          1992-12-17  1981-07-07
rightArmedBowl            False        True
rightHandedBat            False        True

In [15]:
pd.DataFrame.from_dict(match['teams'][0]['players'])

,id,fullName,shortName,nationality,dateOfBirth,rightArmedBowl,rightHandedBat,bowlingStyle
0,456,Hashim Amla,H Amla,South African,1983-03-31,True,True,NaN
1,834,Quinton de Kock,Q de Kock,South African,1992-12-17,False,False,NaN
2,24,Faf du Plessis,F du Plessis,South African,1984-07-13,True,True,LEG_SPIN
3,1277,Rassie van der Dussen,R van der Dussen,South African,1989-02-07,False,True,NaN
4,187,David Miller,D Miller,South African,1989-06-10,False,False,NaN
5,182,JP Duminy,JP Duminy,South African,1984-04-14,False,False,NaN
6,1662,Andile Phehlukwayo,A Phehlukwayo,South African,1996-03-03,False,False,NaN
7,836,Chris Morris,C Morris,South African,1987-04-30,True,True,FAST_SEAM
8,1664,Kagiso Rabada,K Rabada,South African,1995-05-25,True,False,NaN
9,898,Imran Tahir,I Tahir,South African,1979-03-27,True,True,NaN
10,3309,Tabraiz Shamsi,T Shamsi,South African,1990-02-18,False,True,NaN

In [16]:
pd.DataFrame.from_dict(match['teams'][1]['players'])

,id,fullName,shortName,nationality,dateOfBirth,rightArmedBowl,rightHandedBat
0,107,Rohit Sharma,R Sharma,Indian,1987-04-30,True,True
1,41,Shikhar Dhawan,S Dhawan,Indian,1985-12-05,False,False
2,164,Virat Kohli,V Kohli,Indian,1988-11-05,True,True
3,1125,KL Rahul,KL Rahul,Indian,1992-04-18,False,True
4,297,Kedar Jadhav,K Jadhav,Indian,1985-03-26,True,True
5,1,MS Dhoni,MS Dhoni,Indian,1981-07-07,True,True
6,2740,Hardik Pandya,H Pandya,Indian,1993-10-11,True,True
7,116,Bhuvneshwar Kumar,B Kumar,Indian,1990-12-05,True,True
8,261,Kuldeep Yadav,K Yadav,Indian,1994-12-14,False,False
9,111,Yuzvendra Chahal,Y Chahal,Indian,1990-07-23,True,True
10,1124,Jasprit Bumrah,J Bumrah,Indian,1993-12-06,True,True

In [17]:
url = 'https://cricketapi-icc.pulselive.com/fixtures?matchTypes=ODI'

In [18]:
odi = req.get(url).json()

In [19]:
list(odi['content'][0].keys())

['timestamp',
 'label',
 'tournamentId',
 'tournamentLabel',
 'scheduleEntry',
 'resultOnly',
 'timestampMs',
 'endTimestampMs',
 'endTimestamp']

In [20]:
# today's matches
today = str(date.today()).split('-')
url = "https://cricketapi-icc.pulselive.com/fixtures?startDate="+str(date.today())+"&pageSize=300"

In [21]:
todays_fixtures = req.get(url).json()

In [22]:
todays_fixtures['pageInfo']
for i in range(todays_fixtures['pageInfo']['numPages']):
    new_url = "https://cricketapi-icc.pulselive.com/fixtures?startDate=" + str(date.today()) + "&pageSize=300&numPage=" + str(i+1)
    print(new_url)
    todays_fixtures['content'].extend(req.get(new_url).json().pop('content'))
print(todays_fixtures['content'][400])

https://cricketapi-icc.pulselive.com/fixtures?startDate=2020-02-06&pageSize=300&numPage=1
https://cricketapi-icc.pulselive.com/fixtures?startDate=2020-02-06&pageSize=300&numPage=2
https://cricketapi-icc.pulselive.com/fixtures?startDate=2020-02-06&pageSize=300&numPage=3
https://cricketapi-icc.pulselive.com/fixtures?startDate=2020-02-06&pageSize=300&numPage=4
https://cricketapi-icc.pulselive.com/fixtures?startDate=2020-02-06&pageSize=300&numPage=5
{'timestamp': '2020-02-11T09:00:00+0530', 'label': '136th  ODI', 'tournamentId': {'id': 19836, 'name': 'Womens Under 23 One Day Trophy 2019-20', 'provisional': False}, 'tournamentLabel': 'Womens Under 23 One Day Trophy 2019-20', 'scheduleEntry': {'matchId': {'id': 20048, 'name': 'Womens Under 23 One Day Trophy 2019-20-136', 'tournamentId': {'id': 19836, 'name': 'Womens Under 23 One Day Trophy 2019-20', 'provisional': False}}, 'description': '136th  ODI', 'matchDate': '2020-02-11T09:00:00+0530', 'matchType': 'LIST_A', 'matchState': 'U', 'venue': {'id': 629, 'fullName': 'Ravenshaw University Ground', 'shortName': 'Ravenshaw University Ground', 'city': 'Cuttack', 'country': 'India'}, 'team1': {'team': {'id': 809, 'fullName': 'Arunachal Pradesh', 'shortName': '', 'abbreviation': 'ARCA', 'primaryColor': 'FFFFFF', 'secondaryColor': 'FFFFFF'}}, 'team2': {'team': {'id': 811, 'fullName': 'Meghalaya', 'shortName': '', 'abbreviation': 'MECA', 'primaryColor': 'FFFFFF', 'secondaryColor': 'FFFFFF'}}, 'groupName': 'Plate'}, 'resultOnly': False, 'timestampMs': 1581391800000, 'endTimestampMs': 1581442200000, 'endTimestamp': '2020-02-11T23:00:00+0530'}

In [23]:
list(todays_fixtures['content'][0].keys())

['timestamp',
 'label',
 'tournamentId',
 'tournamentLabel',
 'scheduleEntry',
 'resultOnly',
 'timestampMs',
 'endTimestampMs',
 'endTimestamp']

In [24]:
ts = todays_fixtures['content'][0]['timestamp']
label = todays_fixtures['content'][0]['label']
tournament_id = todays_fixtures['content'][0]['tournamentId']
tournament_label = todays_fixtures['content'][0]['tournamentLabel']
schedule_entry = todays_fixtures['content'][0]['scheduleEntry']
result_only = todays_fixtures['content'][0]['resultOnly']


print("Timestamp = " + ts, 
      "Label = " + label, 
      "tournament ID = ", tournament_id, 
      "Tournament Label = " + tournament_label,
      "Schedule Entry =", schedule_entry,
      "Result Only = "+ str(result_only),
      sep='\n')

Timestamp = 2020-02-03T09:30:00+0530
Label = 150th  MD
tournament ID =
{'id': 19407, 'name': 'Cooch Behar Trophy 2019-20', 'provisional': False}
Tournament Label = Cooch Behar Trophy 2019-20
Schedule Entry =
{'matchId': {'id': 19963, 'name': 'Cooch Behar Trophy 2019-20-150', 'tournamentId': {'id': 19407, 'name': 'Cooch Behar Trophy 2019-20', 'provisional': False}}, 'description': '150th  MD', 'matchDate': '2020-02-03T09:30:00+0530', 'matchType': 'FIRST_CLASS', 'matchState': 'C', 'venue': {'id': 791, 'fullName': 'VCA KALAMNA', 'shortName': 'VCA KALAMNA', 'city': 'Nagpur', 'country': 'India'}, 'matchStatus': {'outcome': 'D', 'text': 'Match Drawn Vidarbha took first innings lead (Qualified)'}, 'team1': {'team': {'id': 213, 'fullName': 'Vidarbha', 'shortName': 'Vidarbha', 'abbreviation': 'VCA', 'type': 'm', 'primaryColor': 'FFFFFF', 'secondaryColor': 'FFFFFF'}, 'innings': [{'inningsNumber': 2, 'runs': 426, 'wkts': 7, 'ballsFaced': 804, 'maxBalls': 0, 'allOut': False, 'declared': False}]}, 'team2': {'team': {'id': 203, 'fullName': 'Mumbai', 'shortName': 'Mumbai', 'abbreviation': 'MCA', 'type': 'm', 'primaryColor': 'FFFFFF', 'secondaryColor': 'FFFFFF'}, 'innings': [{'inningsNumber': 1, 'runs': 258, 'wkts': 10, 'ballsFaced': 503, 'maxBalls': 0, 'allOut': True, 'declared': False}]}, 'groupName': ''}
Result Only = False

In [25]:
pd.DataFrame.from_dict(schedule_entry['venue'], orient='index')

                     0
id                 791
fullName   VCA KALAMNA
shortName  VCA KALAMNA
city            Nagpur
country          India

In [26]:
pd.DataFrame(todays_fixtures['content'])

,timestamp,label,tournamentId,tournamentLabel,scheduleEntry,resultOnly,timestampMs,endTimestampMs,endTimestamp
0,2020-02-03T09:30:00+0530,150th MD,"{'id': 19407, 'name': 'Cooch Behar Trophy 2019...",Cooch Behar Trophy 2019-20,"{'matchId': {'id': 19963, 'name': 'Cooch Behar...",False,1580702400000,1581010200000,2020-02-06T23:00:00+0530
1,2020-02-03T09:30:00+0530,151st MD,"{'id': 19407, 'name': 'Cooch Behar Trophy 2019...",Cooch Behar Trophy 2019-20,"{'matchId': {'id': 19964, 'name': 'Cooch Behar...",False,1580702400000,1581010200000,2020-02-06T23:00:00+0530
2,2020-02-04T08:45:00+0530,127th MD,"{'id': 19514, 'name': 'Ranji Trophy 2019-20', ...",Ranji Trophy 2019-20,"{'matchId': {'id': 19988, 'name': 'Ranji Troph...",False,1580786100000,1581096600000,2020-02-07T23:00:00+0530
3,2020-02-04T08:45:00+0530,128th MD,"{'id': 19514, 'name': 'Ranji Trophy 2019-20', ...",Ranji Trophy 2019-20,"{'matchId': {'id': 19989, 'name': 'Ranji Troph...",False,1580786100000,1581096600000,2020-02-07T23:00:00+0530
4,2020-02-04T08:45:00+0530,129th MD,"{'id': 19514, 'name': 'Ranji Trophy 2019-20', ...",Ranji Trophy 2019-20,"{'matchId': {'id': 19990, 'name': 'Ranji Troph...",False,1580786100000,1581096600000,2020-02-07T23:00:00+0530
...,...,...,...,...,...,...,...,...,...
1795,2020-02-24T09:00:00+0530,58th ODI,"{'id': 20102, 'name': 'Womens Senior One Day T...",Womens Senior One Day Trophy 2019-20,"{'matchId': {'id': 20203, 'name': 'Womens Seni...",False,1582515000000,1582565400000,2020-02-24T23:00:00+0530
1796,2020-02-24T09:00:00+0530,59th ODI,"{'id': 20102, 'name': 'Womens Senior One Day T...",Womens Senior One Day Trophy 2019-20,"{'matchId': {'id': 20204, 'name': 'Womens Seni...",False,1582515000000,1582565400000,2020-02-24T23:00:00+0530
1797,2020-02-24T09:00:00+0530,60th ODI,"{'id': 20102, 'name': 'Womens Senior One Day T...",Womens Senior One Day Trophy 2019-20,"{'matchId': {'id': 20205, 'name': 'Womens Seni...",False,1582515000000,1582565400000,2020-02-24T23:00:00+0530
1798,2020-02-24T09:00:00+0530,31st ODI,"{'id': 20127, 'name': 'Womens Under 19 One Day...",Womens Under 19 One Day Trophy 2019-20,"{'matchId': {'id': 20206, 'name': 'Womens Unde...",False,1582515000000,1582565400000,2020-02-24T23:00:00+0530
1799,2020-02-24T09:00:00+0530,32nd ODI,"{'id': 20127, 'name': 'Womens Under 19 One Day...",Womens Under 19 One Day Trophy 2019-20,"{'matchId': {'id': 20207, 'name': 'Womens Unde...",False,1582515000000,1582565400000,2020-02-24T23:00:00+0530

In [27]:
# Next 7 Days ODI, Men
today = str(date.today())
end_date = str(date.today() + timedelta(days=7))
url = "https://cricketapi-icc.pulselive.com/fixtures?matchTypes=ODI&teamTypes=m&startDate="+today+"&endDate="+end_date+"&pageSize=300"

In [28]:
next7_ifixtures_odi = req.get(url).json()
next7_ifixtures_odi['content'][0]

{'timestamp': '2020-02-06T09:30:00+0600',
 'label': 'Match 26',
 'tournamentId': {'id': 21579,
  'name': 'triseries-nep-2020',
  'provisional': False},
 'tournamentLabel': 'ICC Cricket World Cup League 2',
 'scheduleEntry': {'matchId': {'id': 21581,
   'name': 'triseries-nep-2020-02',
   'tournamentId': {'id': 21579,
    'name': 'triseries-nep-2020',
    'provisional': False}},
  'description': 'Match 26',
  'matchDate': '2020-02-06T09:30:00+0600',
  'matchType': 'ODI',
  'matchState': 'C',
  'venue': {'id': 1010,
   'fullName': 'Tribhuvan University International Cricket Ground',
   'shortName': 'Tribhuvan University International Cricket Ground',
   'city': 'Kirtipur',
   'country': 'Nepal'},
  'matchStatus': {'outcome': 'A', 'text': 'Oman win by 6 wickets'},
  'team1': {'team': {'id': 128,
    'fullName': 'Oman',
    'shortName': 'Oman',
    'abbreviation': 'OMA',
    'type': 'm',
    'primaryColor': 'B30121',
    'secondaryColor': '06B89F'},
   'innings': [{'inningsNumber': 2,
     'runs': 214,
     'wkts': 4,
     'ballsFaced': 297,
     'maxBalls': 300,
     'allOut': False,
     'declared': False}]},
  'team2': {'team': {'id': 572,
    'fullName': 'United States of America',
    'shortName': 'USA',
    'abbreviation': 'USA',
    'type': 'm',
    'primaryColor': '0000FF',
    'secondaryColor': 'FF0A0A'},
   'innings': [{'inningsNumber': 1,
     'runs': 213,
     'wkts': 10,
     'ballsFaced': 300,
     'maxBalls': 300,
     'allOut': True,
     'declared': False}]},
  'groupName': ''},
 'resultOnly': False,
 'timestampMs': 1580959800000,
 'endTimestampMs': 1581009300000,
 'endTimestamp': '2020-02-06T23:00:00+0545'}

In [29]:
list(next7_ifixtures_odi['content'][0].keys())

['timestamp',
 'label',
 'tournamentId',
 'tournamentLabel',
 'scheduleEntry',
 'resultOnly',
 'timestampMs',
 'endTimestampMs',
 'endTimestamp']

In [30]:
def filter_fixtures(fixtures):
    team_1 = [i['scheduleEntry']['team1']['team']['fullName'] for i in fixtures['content']]
    team_2 = [i['scheduleEntry']['team2']['team']['fullName'] for i in fixtures['content']]
    city = [i['scheduleEntry']['venue']['city'] for i in fixtures['content']]
    venue = [i['scheduleEntry']['venue']['shortName'] for i in fixtures['content']]
    match_date = [i['scheduleEntry']['matchDate'].split('T')[0] for i in fixtures['content']]
    match_time_local = [i['scheduleEntry']['matchDate'].split('T')[1] for i in fixtures['content']]
    match_id = [i['scheduleEntry']['matchId']['id'] for i in fixtures['content']]
    tournament_id = [i['tournamentId']['id'] for i in fixtures['content']]
    begin_utc = [datetime.utcfromtimestamp(i['timestampMs']/1000).strftime('%H:%M') 
                 for i in fixtures['content']]
    end_utc = [datetime.utcfromtimestamp(i['endTimestampMs']/1000).strftime('%H:%M') 
                 for i in fixtures['content']]
    
    df = pd.DataFrame.from_dict(fixtures['content'])
    
    df = df.assign(Match_ID=match_id,
               Team_1=team_1, 
               Team_2=team_2, 
               City=city, 
               Venue=venue, 
               Match_Date=match_date, 
               Match_Time_Local=match_time_local,
               Tournament_ID=tournament_id, 
               Begin_UTC=begin_utc, 
               End_UTC=end_utc)

    df = df.drop(['resultOnly', 'timestamp', 'timestampMs', 'endTimestampMs'], axis=1)
    df = df[['Match_Date', 'Match_ID', 'Team_1','Team_2','label','tournamentLabel', 'Tournament_ID', 
        'Venue','City', 'Begin_UTC', 'End_UTC', 'Match_Time_Local']]
    return df

In [31]:
filter_fixtures(next7_ifixtures_odi)

,Match_Date,Match_ID,Team_1,Team_2,label,tournamentLabel,Tournament_ID,Venue,City,Begin_UTC,End_UTC,Match_Time_Local
0,2020-02-06,21581,Oman,United States of America,Match 26,ICC Cricket World Cup League 2,21579,Tribhuvan University International Cricket Ground,Kirtipur,03:30,17:15,09:30:00+0600
1,2020-02-07,15254,South Africa,England,2nd ODI,South Africa v England 2019/20,15248,Kingsmead,Durban,11:00,21:00,13:00:00+0200
2,2020-02-08,15359,New Zealand,India,2nd ODI,New Zealand v India 2020,15352,Eden Park,Auckland,02:00,10:00,15:00:00+1300
3,2020-02-08,21582,Nepal,United States of America,Match 27,ICC Cricket World Cup League 2,21579,Tribhuvan University International Cricket Ground,Kirtipur,03:45,17:15,09:30:00+0545
4,2020-02-09,21583,Nepal,Oman,Match 28,ICC Cricket World Cup League 2,21579,Tribhuvan University International Cricket Ground,Kirtipur,03:45,17:15,09:30:00+0545
5,2020-02-09,15255,South Africa,England,3rd ODI,South Africa v England 2019/20,15248,New Wanderers Stadium,Johannesburg,08:00,21:00,10:00:00+0200
6,2020-02-11,15360,New Zealand,India,3rd ODI,New Zealand v India 2020,15352,Bay Oval,Tauranga,02:00,10:00,15:00:00+1300
7,2020-02-11,21584,United States of America,Oman,Match 29,ICC Cricket World Cup League 2,21579,Tribhuvan University International Cricket Ground,Kirtipur,03:45,17:15,09:30:00+0545
8,2020-02-12,21585,Nepal,United States of America,Match 30,ICC Cricket World Cup League 2,21579,Tribhuvan University International Cricket Ground,Kirtipur,03:45,17:15,09:30:00+0545

In [32]:
# Next 7 Days T20I, Men
url = "https://cricketapi-icc.pulselive.com/fixtures?matchTypes=T20I&teamTypes=m&startDate="+today+"&endDate="+end_date+"&pageSize=300"
next7_ifixtures_t20i = req.get(url).json()

In [33]:
filter_fixtures(next7_ifixtures_t20i)

,Match_Date,Match_ID,Team_1,Team_2,label,tournamentLabel,Tournament_ID,Venue,City,Begin_UTC,End_UTC,Match_Time_Local
0,2020-02-12,15256,South Africa,England,1st T20I,South Africa v England 2019/20,15248,Buffalo Park,East London,16:00,21:00,18:00:00+0200

In [34]:
# Year Fixtures, All Formats, Men
url = "https://cricketapi-icc.pulselive.com/fixtures?matchTypes=T20I,TEST,ODI&teamTypes=m&startDate=2020-01-01&endDate=2020-12-31&pageSize=300"
allyear_ifixtures = req.get(url).json()

In [35]:
filter_fixtures(allyear_ifixtures)

,Match_Date,Match_ID,Team_1,Team_2,label,tournamentLabel,Tournament_ID,Venue,City,Begin_UTC,End_UTC,Match_Time_Local
0,2020-01-03,11481,Australia,New Zealand,3rd Test,Australia v New Zealand 2019/20,11478,SCG,Sydney,23:30,12:00,10:30:00+1100
1,2020-01-03,15250,South Africa,England,2nd Test,South Africa v England 2019/20,15248,Newlands,Cape Town,08:30,21:00,10:30:00+0200
2,2020-01-05,21429,Oman,United Arab Emirates,Match 1,ICC Cricket World Cup League 2,21428,Al Amerat Cricket Ground,Al Amerat,06:00,19:00,10:00:00+0400
3,2020-01-05,18726,India,Sri Lanka,1st T20I,India v Sri Lanka 2020,18725,Barsapara Cricket Ground,Guwahati,13:30,17:30,19:00:00+0530
4,2020-01-06,21430,United Arab Emirates,Namibia,Match 2,ICC Cricket World Cup League 2,21428,Al Amerat Cricket Ground,Al Amerat,06:00,19:00,10:00:00+0400
...,...,...,...,...,...,...,...,...,...,...,...,...
188,2020-11-06,10974,Australia,New Zealand,Super 12s Match 26,ICC Men's T20 World Cup 2020,10935,MCG,Melbourne,08:00,12:00,19:00:00+1100
189,2020-11-07,10975,England,A2,Super 12s Match 27,ICC Men's T20 World Cup 2020,10935,Adelaide Oval,Adelaide,03:30,12:30,14:00:00+1030
190,2020-11-07,10976,West Indies,A1,Super 12s Match 28,ICC Men's T20 World Cup 2020,10935,MCG,Melbourne,08:00,12:00,19:00:00+1100
191,2020-11-08,10977,South Africa,B1,Super 12s Match 29,ICC Men's T20 World Cup 2020,10935,SCG,Sydney,03:00,12:00,14:00:00+1100
192,2020-11-08,10978,India,Afghanistan,Super 12s Match 30,ICC Men's T20 World Cup 2020,10935,SCG,Sydney,08:00,12:00,19:00:00+1100

In [36]:
# T20 World Cup 2020 Fixtureshttps://cricketapi-ecb.pulselive.com/fixtures?tournamentIds=3123&pageSize=300
url = "https://cricketapi-icc.pulselive.com/fixtures?matchTypes=T20I&tournamentIds=10935&pageSize=300"
t20_worldcup_ifixtures = req.get(url).json()

In [37]:
df = filter_fixtures(t20_worldcup_ifixtures)
df.drop(['tournamentLabel','Tournament_ID'], axis=1)
df[['Match_Date', 'label', 'Team_1', 'Team_2', 'Begin_UTC', 'End_UTC', 
    'City', 'Venue', 'Match_Time_Local']]

,Match_Date,label,Team_1,Team_2,Begin_UTC,End_UTC,City,Venue,Match_Time_Local
0,2020-10-18,Match 1,Sri Lanka,Ireland,03:00,12:00,Geelong,Simonds Stadium,14:00:00+1100
1,2020-10-18,Match 2,Papua New Guinea,Oman,08:00,12:00,Geelong,Simonds Stadium,19:00:00+1100
2,2020-10-19,Match 3,Bangladesh,Namibia,03:00,12:00,Hobart,Blundstone Arena,14:00:00+1100
3,2020-10-19,Match 4,Netherlands,Scotland,08:00,12:00,Hobart,Blundstone Arena,19:00:00+1100
4,2020-10-20,Match 5,Ireland,Oman,03:00,12:00,Geelong,Simonds Stadium,14:00:00+1100
5,2020-10-20,Match 6,Sri Lanka,Papua New Guinea,08:00,12:00,Geelong,Simonds Stadium,19:00:00+1100
6,2020-10-21,Match 7,Namibia,Scotland,03:00,12:00,Hobart,Blundstone Arena,14:00:00+1100
7,2020-10-21,Match 8,Bangladesh,Netherlands,08:00,12:00,Hobart,Blundstone Arena,19:00:00+1100
8,2020-10-22,Match 9,Papua New Guinea,Ireland,03:00,12:00,Geelong,Simonds Stadium,14:00:00+1100
9,2020-10-22,Match 10,Sri Lanka,Oman,08:00,12:00,Geelong,Simonds Stadium,19:00:00+1100
10,2020-10-23,Match 11,Netherlands,Namibia,03:00,12:00,Hobart,Blundstone Arena,14:00:00+1100
11,2020-10-23,Match 12,Bangladesh,Scotland,08:00,12:00,Hobart,Blundstone Arena,19:00:00+1100
12,2020-10-24,Super 12s Match 1,Australia,Pakistan,08:00,12:00,Sydney,SCG,19:00:00+1100
13,2020-10-24,Super 12s Match 2,India,South Africa,11:00,15:00,Perth,Perth Stadium,19:00:00+0800
14,2020-10-25,Super 12s Match 3,A1,B2,03:00,12:00,Hobart,Blundstone Arena,14:00:00+1100
15,2020-10-25,Super 12s Match 4,New Zealand,West Indies,08:00,12:00,Melbourne,MCG,19:00:00+1100
16,2020-10-26,Super 12s Match 5,Afghanistan,A2,06:00,15:00,Perth,Perth Stadium,14:00:00+0800
17,2020-10-26,Super 12s Match 6,England,B1,11:00,15:00,Perth,Perth Stadium,19:00:00+0800
18,2020-10-27,Super 12s Match 7,New Zealand,B2,08:00,12:00,Hobart,Blundstone Arena,19:00:00+1100
19,2020-10-28,Super 12s Match 8,Afghanistan,B1,06:00,15:00,Perth,Perth Stadium,14:00:00+0800
20,2020-10-28,Super 12s Match 9,Australia,West Indies,11:00,15:00,Perth,Perth Stadium,19:00:00+0800
21,2020-10-29,Super 12s Match 10,Pakistan,A1,03:00,12:00,Sydney,SCG,14:00:00+1100
22,2020-10-29,Super 12s Match 11,India,A2,08:00,12:00,Melbourne,MCG,19:00:00+1100
23,2020-10-30,Super 12s Match 12,England,South Africa,08:00,12:00,Sydney,SCG,19:00:00+1100
24,2020-10-30,Super 12s Match 13,West Indies,B2,11:00,15:00,Perth,Perth Stadium,19:00:00+0800
25,2020-10-31,Super 12s Match 14,Pakistan,New Zealand,04:00,13:00,Brisbane,Brisbane Cricket Ground,14:00:00+1000
26,2020-10-31,Super 12s Match 15,Australia,A1,09:00,13:00,Brisbane,Brisbane Cricket Ground,19:00:00+1000
27,2020-11-01,Super 12s Match 16,South Africa,Afghanistan,03:30,12:30,Adelaide,Adelaide Oval,14:00:00+1030
28,2020-11-01,Super 12s Match 17,India,England,08:00,12:00,Melbourne,MCG,19:00:00+1100
29,2020-11-02,Super 12s Match 18,A2,B1,03:00,12:00,Sydney,SCG,14:00:00+1100
30,2020-11-02,Super 12s Match 19,New Zealand,A1,09:00,13:00,Brisbane,Brisbane Cricket Ground,19:00:00+1000
31,2020-11-03,Super 12s Match 20,Pakistan,West Indies,03:30,12:30,Adelaide,Adelaide Oval,14:00:00+1030
32,2020-11-03,Super 12s Match 21,Australia,B2,08:30,12:30,Adelaide,Adelaide Oval,19:00:00+1030
33,2020-11-04,Super 12s Match 22,England,Afghanistan,09:00,13:00,Brisbane,Brisbane Cricket Ground,19:00:00+1000
34,2020-11-05,Super 12s Match 23,South Africa,A2,03:30,12:30,Adelaide,Adelaide Oval,14:00:00+1030
35,2020-11-05,Super 12s Match 24,India,B1,08:30,12:30,Adelaide,Adelaide Oval,19:00:00+1030
36,2020-11-06,Super 12s Match 25,Pakistan,B2,03:00,12:00,Melbourne,MCG,14:00:00+1100
37,2020-11-06,Super 12s Match 26,Australia,New Zealand,08:00,12:00,Melbourne,MCG,19:00:00+1100
38,2020-11-07,Super 12s Match 27,England,A2,03:30,12:30,Adelaide,Adelaide Oval,14:00:00+1030
39,2020-11-07,Super 12s Match 28,West Indies,A1,08:00,12:00,Melbourne,MCG,19:00:00+1100
40,2020-11-08,Super 12s Match 29,South Africa,B1,03:00,12:00,Sydney,SCG,14:00:00+1100
41,2020-11-08,Super 12s Match 30,India,Afghanistan,08:00,12:00,Sydney,SCG,19:00:00+1100
42,2020-11-11,Semi Final 1,TBC,TBC,08:00,12:00,Sydney,SCG,19:00:00+1100
43,2020-11-12,Semi Final 2,TBC,TBC,08:30,12:30,Adelaide,Adelaide Oval,19:00:00+1030
44,2020-11-15,Final,TBC,TBC,08:00,12:00,Melbourne,MCG,19:00:00+1100

In [38]:
# Today's International Fixtures, Men's
today = str(date.today())
url = "https://cricketapi-icc.pulselive.com/fixtures?matchTypes=T20I,TEST,ODI&teamTypes=m&startDate="+today+"&endDate="+today+"&pageSize=300"
todays_ifixtures = req.get(url).json()

In [39]:
filter_fixtures(todays_ifixtures)

,Match_Date,Match_ID,Team_1,Team_2,label,tournamentLabel,Tournament_ID,Venue,City,Begin_UTC,End_UTC,Match_Time_Local
0,2020-02-06,21581,Oman,United States of America,Match 26,ICC Cricket World Cup League 2,21579,Tribhuvan University International Cricket Ground,Kirtipur,03:30,17:15,09:30:00+0600

In [40]:
url = 'https://cricketapi-icc.pulselive.com/fixtures/8199/scoring'
match_scorecard = req.get(url).json()

In [41]:
def filter_innings(scorecard):
    innings = [i for i in scorecard['innings']]
    s = [i['scorecard'] for i in innings]
    runs = [i['runs'] for i in s]
    wkts = [i['wkts'] for i in s]
    all_out = [i['allOut'] for i in s]
    extras = [i['extras'] for i in s]
    declared = [i['declared'] for i in innings]
    over_progress = [i['overProgress'] for i in innings]
    run_rate = [i['runRate'] for i in innings]
    no_balls = [i['noBallRuns'] for i in extras]  
    leg_byes = [i['legByeRuns'] for i in extras] 
    byes = [i['byeRuns'] for i in extras] 
    wides = [i['wideRuns'] for i in extras] 
    
    df = pd.DataFrame([])
    
    df = df.assign(Runs=runs, 
                   Run_Rate=run_rate,
                   Wickets=wkts, 
                   All_Out=all_out, 
                   No_Balls=no_balls, 
                   Leg_Byes=leg_byes, 
                   Byes=byes, 
                   Wides=wides, 
                   Declared=declared, 
                   Over_Progress=over_progress)
    return df

In [42]:
match_scorecard['innings']

[{'inningsNumber': 1,
  'runRate': '4.54',
  'overProgress': '50',
  'declared': False,
  'scorecard': {'runs': 227,
   'wkts': 9,
   'allOut': False,
   'battingStats': [{'playerId': 456,
     'r': 6,
     'b': 9,
     'sr': '66.66',
     '4s': 1,
     '6s': 0,
     'mod': {'dismissedBp': {'innings': 1, 'over': 4, 'ball': 2},
      'countingBp': {'innings': 1, 'over': 4, 'ball': 2},
      'text': 'c Rohit Sharma b Jasprit Bumrah',
      'bowlerId': 1124,
      'additionalPlayerIds': [107],
      'dismissedMethod': 'ct',
      'isOut': True}},
    {'playerId': 834,
     'r': 10,
     'b': 17,
     'sr': '58.82',
     '4s': 1,
     '6s': 0,
     'mod': {'dismissedBp': {'innings': 1, 'over': 6, 'ball': 5},
      'countingBp': {'innings': 1, 'over': 6, 'ball': 5},
      'text': 'c Virat Kohli b Jasprit Bumrah',
      'bowlerId': 1124,
      'additionalPlayerIds': [164],
      'dismissedMethod': 'ct',
      'isOut': True}},
    {'playerId': 24,
     'r': 38,
     'b': 54,
     'sr': '70.37',
     '4s': 4,
     '6s': 0,
     'mod': {'dismissedBp': {'innings': 1, 'over': 20, 'ball': 7},
      'countingBp': {'innings': 1, 'over': 20, 'ball': 6},
      'text': 'b Yuzvendra Chahal',
      'bowlerId': 111,
      'dismissedMethod': 'b',
      'isOut': True}},
    {'playerId': 1277,
     'r': 22,
     'b': 37,
     'sr': '59.45',
     '4s': 1,
     '6s': 0,
     'mod': {'dismissedBp': {'innings': 1, 'over': 20, 'ball': 1},
      'countingBp': {'innings': 1, 'over': 20, 'ball': 1},
      'text': 'b Yuzvendra Chahal',
      'bowlerId': 111,
      'dismissedMethod': 'b',
      'isOut': True}},
    {'playerId': 187,
     'r': 31,
     'b': 40,
     'sr': '77.50',
     '4s': 1,
     '6s': 0,
     'mod': {'dismissedBp': {'innings': 1, 'over': 36, 'ball': 3},
      'countingBp': {'innings': 1, 'over': 36, 'ball': 3},
      'text': 'c & b Yuzvendra Chahal',
      'bowlerId': 111,
      'additionalPlayerIds': [111],
      'dismissedMethod': 'ct',
      'isOut': True}},
    {'playerId': 182,
     'r': 3,
     'b': 11,
     'sr': '27.27',
     '4s': 0,
     '6s': 0,
     'mod': {'dismissedBp': {'innings': 1, 'over': 23, 'ball': 6},
      'countingBp': {'innings': 1, 'over': 23, 'ball': 6},
      'text': 'lbw Kuldeep Yadav',
      'bowlerId': 261,
      'dismissedMethod': 'lbw',
      'isOut': True}},
    {'playerId': 1662,
     'r': 34,
     'b': 61,
     'sr': '55.73',
     '4s': 2,
     '6s': 1,
     'mod': {'dismissedBp': {'innings': 1, 'over': 40, 'ball': 3},
      'countingBp': {'innings': 1, 'over': 40, 'ball': 3},
      'text': 'st MS Dhoni b Yuzvendra Chahal',
      'bowlerId': 111,
      'additionalPlayerIds': [1],
      'dismissedMethod': 'st',
      'isOut': True}},
    {'playerId': 836,
     'r': 42,
     'b': 34,
     'sr': '123.52',
     '4s': 1,
     '6s': 2,
     'mod': {'dismissedBp': {'innings': 1, 'over': 50, 'ball': 2},
      'countingBp': {'innings': 1, 'over': 50, 'ball': 2},
      'text': 'c Virat Kohli b Bhuvneshwar Kumar',
      'bowlerId': 116,
      'additionalPlayerIds': [164],
      'dismissedMethod': 'ct',
      'isOut': True}},
    {'playerId': 1664, 'r': 31, 'b': 35, 'sr': '88.57', '4s': 2, '6s': 0},
    {'playerId': 898,
     'r': 0,
     'b': 2,
     'sr': '0.00',
     '4s': 0,
     '6s': 0,
     'mod': {'dismissedBp': {'innings': 1, 'over': 50, 'ball': 6},
      'countingBp': {'innings': 1, 'over': 50, 'ball': 6},
      'text': 'c Kedar Jadhav b Bhuvneshwar Kumar',
      'bowlerId': 116,
      'additionalPlayerIds': [297],
      'dismissedMethod': 'ct',
      'isOut': True}}],
   'bowlingStats': [{'playerId': 116,
     'ov': '10',
     'r': 44,
     'w': 2,
     'd': 33,
     'maid': 0,
     'e': '4.40',
     'wd': 2,
     'nb': 0},
    {'playerId': 1124,
     'ov': '10',
     'r': 35,
     'w': 2,
     'd': 41,
     'maid': 1,
     'e': '3.50',
     'wd': 0,
     'nb': 0},
    {'playerId': 2740,
     'ov': '6',
     'r': 31,
     'w': 0,
     'd': 16,
     'maid': 0,
     'e': '5.16',
     'wd': 0,
     'nb': 0},
    {'playerId': 261,
     'ov': '10',
     'r': 46,
     'w': 1,
     'd': 28,
     'maid': 0,
     'e': '4.60',
     'wd': 1,
     'nb': 0},
    {'playerId': 111,
     'ov': '10',
     'r': 51,
     'w': 4,
     'd': 32,
     'maid': 0,
     'e': '5.10',
     'wd': 3,
     'nb': 0},
    {'playerId': 297,
     'ov': '4',
     'r': 16,
     'w': 0,
     'd': 13,
     'maid': 0,
     'e': '4.00',
     'wd': 0,
     'nb': 0}],
   'fow': [{'bp': {'innings': 1, 'over': 4, 'ball': 2},
     'playerId': 456,
     'ret': False,
     'w': 1,
     'r': 11},
    {'bp': {'innings': 1, 'over': 6, 'ball': 5},
     'playerId': 834,
     'ret': False,
     'w': 2,
     'r': 24},
    {'bp': {'innings': 1, 'over': 20, 'ball': 1},
     'playerId': 1277,
     'ret': False,
     'w': 3,
     'r': 78},
    {'bp': {'innings': 1, 'over': 20, 'ball': 6},
     'playerId': 24,
     'ret': False,
     'w': 4,
     'r': 80},
    {'bp': {'innings': 1, 'over': 23, 'ball': 6},
     'playerId': 182,
     'ret': False,
     'w': 5,
     'r': 89},
    {'bp': {'innings': 1, 'over': 36, 'ball': 3},
     'playerId': 187,
     'ret': False,
     'w': 6,
     'r': 135},
    {'bp': {'innings': 1, 'over': 40, 'ball': 3},
     'playerId': 1662,
     'ret': False,
     'w': 7,
     'r': 158},
    {'bp': {'innings': 1, 'over': 50, 'ball': 2},
     'playerId': 836,
     'ret': False,
     'w': 8,
     'r': 224},
    {'bp': {'innings': 1, 'over': 50, 'ball': 6},
     'playerId': 898,
     'ret': False,
     'w': 9,
     'r': 227}],
   'extras': {'noBallRuns': 0,
    'wideRuns': 6,
    'byeRuns': 1,
    'legByeRuns': 3,
    'penaltyRuns': 0},
   'declared': False},
  'overHistory': [{'ovNo': 1, 'ovBalls': ['1', '.', '.', '1', '.', '.']},
   {'ovNo': 2, 'ovBalls': ['.', '.', '.', '2', '.', '.']},
   {'ovNo': 3, 'ovBalls': ['4', '.', '1', '1', '.', '.']},
   {'ovNo': 4, 'ovBalls': ['1B', 'W', '4', '.', '.', '.']},
   {'ovNo': 5, 'ovBalls': ['4', '1', '2', '.', '.', '.']},
   {'ovNo': 6, 'ovBalls': ['.', '.', '1', '1', 'W', '2']},
   {'ovNo': 7, 'ovBalls': ['.', '.', '.', '.', '.', '4']},
   {'ovNo': 8, 'ovBalls': ['1', '.', '.', '.', '.', '.']},
   {'ovNo': 9, 'ovBalls': ['1', '.', '.', '.', '.', '.']},
   {'ovNo': 10, 'ovBalls': ['.', '.', '.', '2', '.', '.']},
   {'ovNo': 11, 'ovBalls': ['.', '1', '1', '1', '.', '.']},
   {'ovNo': 12, 'ovBalls': ['1', '1', '1', '.', '.', '.']},
   {'ovNo': 13, 'ovBalls': ['.', '2', '.', '1', '.', '.']},
   {'ovNo': 14, 'ovBalls': ['.', '.', '.', '.', '1', '4']},
   {'ovNo': 15, 'ovBalls': ['2', '.', '4', '1', '.', '1']},
   {'ovNo': 16, 'ovBalls': ['1', '.', '2', '4', '1', '1']},
   {'ovNo': 17, 'ovBalls': ['2', '1Lb', '.', '1', '.', '2']},
   {'ovNo': 18, 'ovBalls': ['3', '.', '.', '.', '.', '1']},
   {'ovNo': 19, 'ovBalls': ['.', '.', '1', '.', '1', '1']},
   {'ovNo': 20, 'ovBalls': ['W', '.', '1Wd', '.', '1', '.', 'W']},
   {'ovNo': 21, 'ovBalls': ['1', '1', '1', '.', '1', '1']},
   {'ovNo': 22, 'ovBalls': ['1', '.', '.', '1', '.', '1']},
   {'ovNo': 23, 'ovBalls': ['1', '.', '.', '.', '.', 'W']},
   {'ovNo': 24, 'ovBalls': ['2', '1', '.', '4', '1', '1']},
   {'ovNo': 25, 'ovBalls': ['1', '.', '1', '1', '1', '1']},
   {'ovNo': 26, 'ovBalls': ['.', '1', '.', '.', '1', '.']},
   {'ovNo': 27, 'ovBalls': ['.', '1', '1', '.', '.', '.']},
   {'ovNo': 28, 'ovBalls': ['1', '.', '1', '.', '1', '2']},
   {'ovNo': 29, 'ovBalls': ['1', '.', '.', '1', '4', '.']},
   {'ovNo': 30, 'ovBalls': ['1', '.', '2', '1', '.', '1']},
   {'ovNo': 31, 'ovBalls': ['.', '.', '.', '.', '.', '.']},
   {'ovNo': 32, 'ovBalls': ['.', '.', '1', '.', '.', '.']},
   {'ovNo': 33, 'ovBalls': ['.', '1', '1', '1', '.', '.']},
   {'ovNo': 34, 'ovBalls': ['.', '1', '4', '.', '.', '.']},
   {'ovNo': 35, 'ovBalls': ['1', '.', '.', '.', '1', '.']},
   {'ovNo': 36, 'ovBalls': ['.', '1', 'W', '3', '.', '.']},
   {'ovNo': 37, 'ovBalls': ['1', '.', '.', '.', '.', '1']},
   {'ovNo': 38, 'ovBalls': ['2', '1Wd', '1', '.', '1', '.', '1Wd', '.']},
   {'ovNo': 39, 'ovBalls': ['1', '6', '1', '1', '1', '1']},
   {'ovNo': 40, 'ovBalls': ['1', '.', 'W', '1', '.', '2']},
   {'ovNo': 41, 'ovBalls': ['.', '2', '.', '.', '1Wd', '.', '.']},
   {'ovNo': 42, 'ovBalls': ['6', '1', '1', '1', '.', '.']},
   {'ovNo': 43, 'ovBalls': ['.', '1', '1', '1', '2', '4']},
   {'ovNo': 44, 'ovBalls': ['.', '.', '.', '6', '1', '1']},
   {'ovNo': 45, 'ovBalls': ['.', '.', '.', '1Lb', '1', '.']},
   {'ovNo': 46, 'ovBalls': ['1Wd', '1', '1Lb', '1', '1', '1Wd', '2', '.']},
   {'ovNo': 47, 'ovBalls': ['1', '4', '1', '2', '.', '1']},
   {'ovNo': 48, 'ovBalls': ['2', '1', '1', '2', '1', '2']},
   {'ovNo': 49, 'ovBalls': ['.', '1', '.', '1', '4', '.']},
   {'ovNo': 50, 'ovBalls': ['.', 'W', '2', '1', '.', 'W']}]},
 {'inningsNumber': 2,
  'runRate': '4.84',
  'overProgress': '47.3',
  'declared': False,
  'scorecard': {'runs': 230,
   'wkts': 4,
   'allOut': False,
   'battingStats': [{'playerId': 41,
     'r': 8,
     'b': 12,
     'sr': '66.66',
     '4s': 1,
     '6s': 0,
     'mod': {'dismissedBp': {'innings': 2, 'over': 6, 'ball': 1},
      'countingBp': {'innings': 2, 'over': 6, 'ball': 1},
      'text': 'c Quinton de Kock b Kagiso Rabada',
      'bowlerId': 1664,
      'additionalPlayerIds': [834],
      'dismissedMethod': 'ct',
      'isOut': True}},
    {'playerId': 107, 'r': 122, 'b': 144, 'sr': '84.72', '4s': 13, '6s': 2},
    {'playerId': 164,
     'r': 18,
     'b': 34,
     'sr': '52.94',
     '4s': 1,
     '6s': 0,
     'mod': {'dismissedBp': {'innings': 2, 'over': 16, 'ball': 3},
      'countingBp': {'innings': 2, 'over': 16, 'ball': 3},
      'text': 'c Quinton de Kock b Andile Phehlukwayo',
      'bowlerId': 1662,
      'additionalPlayerIds': [834],
      'dismissedMethod': 'ct',
      'isOut': True}},
    {'playerId': 1125,
     'r': 26,
     'b': 42,
     'sr': '61.90',
     '4s': 2,
     '6s': 0,
     'mod': {'dismissedBp': {'innings': 2, 'over': 32, 'ball': 3},
      'countingBp': {'innings': 2, 'over': 32, 'ball': 3},
      'text': 'c Faf du Plessis b Kagiso Rabada',
      'bowlerId': 1664,
      'additionalPlayerIds': [24],
      'dismissedMethod': 'ct',
      'isOut': True}},
    {'playerId': 1,
     'r': 34,
     'b': 46,
     'sr': '73.91',
     '4s': 2,
     '6s': 0,
     'mod': {'dismissedBp': {'innings': 2, 'over': 47, 'ball': 1},
      'countingBp': {'innings': 2, 'over': 47, 'ball': 1},
      'text': 'c & b Chris Morris',
      'bowlerId': 836,
      'additionalPlayerIds': [836],
      'dismissedMethod': 'ct',
      'isOut': True}},
    {'playerId': 2740, 'r': 15, 'b': 7, 'sr': '214.28', '4s': 3, '6s': 0}],
   'bowlingStats': [{'playerId': 898,
     'ov': '10',
     'r': 58,
     'w': 0,
     'd': 20,
     'maid': 0,
     'e': '5.80',
     'wd': 0,
     'nb': 0},
    {'playerId': 1664,
     'ov': '10',
     'r': 39,
     'w': 2,
     'd': 40,
     'maid': 1,
     'e': '3.90',
     'wd': 1,
     'nb': 0},
    {'playerId': 836,
     'ov': '10',
     'r': 36,
     'w': 1,
     'd': 43,
     'maid': 3,
     'e': '3.60',
     'wd': 1,
     'nb': 0},
    {'playerId': 1662,
     'ov': '8.3',
     'r': 40,
     'w': 1,
     'd': 30,
     'maid': 0,
     'e': '4.70',
     'wd': 1,
     'nb': 0},
    {'playerId': 3309,
     'ov': '9',
     'r': 54,
     'w': 0,
     'd': 25,
     'maid': 0,
     'e': '6.00',
     'wd': 1,
     'nb': 0}],
   'fow': [{'bp': {'innings': 2, 'over': 6, 'ball': 1},
     'playerId': 41,
     'ret': False,
     'w': 1,
     'r': 13},
    {'bp': {'innings': 2, 'over': 16, 'ball': 3},
     'playerId': 164,
     'ret': False,
     'w': 2,
     'r': 54},
    {'bp': {'innings': 2, 'over': 32, 'ball': 3},
     'playerId': 1125,
     'ret': False,
     'w': 3,
     'r': 139},
    {'bp': {'innings': 2, 'over': 47, 'ball': 1},
     'playerId': 1,
     'ret': False,
     'w': 4,
     'r': 213}],
   'extras': {'noBallRuns': 0,
    'wideRuns': 4,
    'byeRuns': 0,
    'legByeRuns': 3,
    'penaltyRuns': 0},
   'declared': False},
  'overHistory': [{'ovNo': 1, 'ovBalls': ['.', '.', '1', '1', '.', '1']},
   {'ovNo': 2, 'ovBalls': ['.', '1', '.', '.', '.', '.']},
   {'ovNo': 3, 'ovBalls': ['1', '.', '.', '1', '4', '.']},
   {'ovNo': 4, 'ovBalls': ['.', '.', '.', '.', '1', '.']},
   {'ovNo': 5, 'ovBalls': ['2', '.', '.', '.', '.', '.']},
   {'ovNo': 6, 'ovBalls': ['W', '.', '.', '.', '1', '.']},
   {'ovNo': 7, 'ovBalls': ['.', '.', '.', '.', '.', '.']},
   {'ovNo': 8, 'ovBalls': ['.', '.', '6', '4', '.', '1Wd', '4']},
   {'ovNo': 9, 'ovBalls': ['.', '.', '.', '.', '.', '2']},
   {'ovNo': 10, 'ovBalls': ['1', '1', '.', '.', '.', '1']},
   {'ovNo': 11, 'ovBalls': ['.', '.', '.', '1', '.', '1']},
   {'ovNo': 12, 'ovBalls': ['1', '.', '.', '1', '.', '1']},
   {'ovNo': 13, 'ovBalls': ['1', '1', '1', '1', '.', '1']},
   {'ovNo': 14, 'ovBalls': ['1', '.', '1', '1', '.', '.']},
   {'ovNo': 15, 'ovBalls': ['1', '.', '1', '.', '1', '.']},
   {'ovNo': 16, 'ovBalls': ['.', '4', 'W', '.', '.', '.']},
   {'ovNo': 17, 'ovBalls': ['4', '1', '1', '.', '1', '1']},
   {'ovNo': 18, 'ovBalls': ['1', '.', '.', '.', '2', '.']},
   {'ovNo': 19, 'ovBalls': ['.', '.', '1', '.', '2', '.']},
   {'ovNo': 20, 'ovBalls': ['4', '.', '.', '1', '4', '1']},
   {'ovNo': 21, 'ovBalls': ['.', '1Lb', '1', '1', '1', '.']},
   {'ovNo': 22, 'ovBalls': ['.', '.', '.', '.', '.', '.']},
   {'ovNo': 23, 'ovBalls': ['.', '6', '.', '.', '1', '2']},
   {'ovNo': 24, 'ovBalls': ['.', '.', '.', '.', '.', '1Lb']},
   {'ovNo': 25, 'ovBalls': ['.', '2', '.', '.', '.', '1']},
   {'ovNo': 26, 'ovBalls': ['1Wd', '1', '.', '.', '.', '4', '1']},
   {'ovNo': 27, 'ovBalls': ['1', '4', '1', '1', '4', '.']},
   {'ovNo': 28, 'ovBalls': ['.', '1', '.', '1', '.', '.']},
   {'ovNo': 29, 'ovBalls': ['1', '.', '.', '3', '4', '.']},
   {'ovNo': 30, 'ovBalls': ['.', '1', '.', '4', '.', '1']},
   {'ovNo': 31, 'ovBalls': ['4', '.', '1', '1', '2', '2']},
   {'ovNo': 32, 'ovBalls': ['.', '.', 'W', '.', '.', '.']},
   {'ovNo': 33, 'ovBalls': ['1', '1', '.', '2', '.', '.']},
   {'ovNo': 34, 'ovBalls': ['.', '.', '.', '1Wd', '.', '1', '.']},
   {'ovNo': 35, 'ovBalls': ['1', '1', '1', '1', '1', '.']},
   {'ovNo': 36, 'ovBalls': ['1', '1', '.', '1', '1', '.']},
   {'ovNo': 37, 'ovBalls': ['.', '.', '.', '.', '4', '.']},
   {'ovNo': 38, 'ovBalls': ['1', '.', '.', '1', '.', '4']},
   {'ovNo': 39, 'ovBalls': ['.', '1', '1', '.', '1', '1']},
   {'ovNo': 40, 'ovBalls': ['.', '.', '.', '.', '2', '1']},
   {'ovNo': 41, 'ovBalls': ['1', '.', '2', '1', '.', '1']},
   {'ovNo': 42, 'ovBalls': ['2', '.', '.', '.', '1Lb', '.']},
   {'ovNo': 43, 'ovBalls': ['.', '4', '1', '4', '3', '2']},
   {'ovNo': 44, 'ovBalls': ['.', '.', '.', '4', '.', '1']},
   {'ovNo': 45, 'ovBalls': ['2', '1', '1', '4', '1', '1']},
   {'ovNo': 46, 'ovBalls': ['.', '2', '1', '.', '1', '1']},
   {'ovNo': 47, 'ovBalls': ['W', '1', '.', '4', '4', '1']},
   {'ovNo': 48, 'ovBalls': ['2', '.', '1Wd', '4']}]}]

In [43]:
list(match_scorecard['innings'][0].keys())

['inningsNumber',
 'runRate',
 'overProgress',
 'declared',
 'scorecard',
 'overHistory']

In [44]:
list(match_scorecard['matchInfo'].keys())

['additionalInfo',
 'teams',
 'venue',
 'matchDate',
 'matchEndDate',
 'matchDateMs',
 'matchEndDateMs',
 'isLimitedOvers',
 'battingOrder',
 'matchBroadcast',
 'matchState',
 'matchStatus',
 'description',
 'matchSummary',
 'matchType',
 'tournamentLabel',
 'oversLimit',
 'groupName']

In [45]:
list(match_scorecard['matchId'].keys())

['id', 'name', 'tournamentId']

In [46]:
list(match_scorecard['currentState'].keys())

['inProgress',
 'phase',
 'currentInningsIndex',
 'currentBatsmen',
 'facingBatsman',
 'nonFacingBatsman',
 'currentBowler',
 'currentBowlerCurrentSpell',
 'previousBowler',
 'previousBowlerCurrentSpell',
 'currentPartnership',
 'partnership',
 'recentOvers']

In [47]:
# match_scorecard['innings'][0]
# pd.DataFrame.from_dict(match_scorecard['innings'][0], orient='index')
# pd.DataFrame.from_dict(match_scorecard['innings'][0]['scorecard'], orient='index')
# dff = filter_innings(match_scorecard)
# pd.DataFrame(match_scorecard['innings'])

filter_innings(match_scorecard)

,Runs,Run_Rate,Wickets,All_Out,No_Balls,Leg_Byes,Byes,Wides,Declared,Over_Progress
0,227,4.54,9,False,0,3,1,6,False,50
1,230,4.84,4,False,0,3,0,4,False,47.3

In [48]:
pd.DataFrame.from_dict(match_scorecard['innings'][1], orient='index')

                                                               0
inningsNumber                                                  2
runRate                                                     4.84
overProgress                                                47.3
declared                                                   False
scorecard      {'runs': 230, 'wkts': 4, 'allOut': False, 'bat...
overHistory    [{'ovNo': 1, 'ovBalls': ['.', '.', '1', '1', '...

In [49]:
pd.DataFrame.from_dict(match_scorecard['currentState']['partnership'], orient='index')

             0
runs        17
balls        8
runRate  12.75

In [50]:
match_scorecard['currentState']['currentBatsmen']

[107, 2740]

In [51]:
match_scorecard['currentState']['facingBatsman']

2740

In [52]:
match_scorecard['currentState']['nonFacingBatsman']

107

In [53]:
match_scorecard['currentState']['currentBowler']

1662

In [54]:
pd.DataFrame.from_dict(match_scorecard['currentState']['currentBowlerCurrentSpell'], orient='index')

              0
playerId   1662
ov          0.3
r             7
w             0
d             1
maid          0
e         14.00
wd            1
nb            0

In [55]:
match_scorecard['currentState']['previousBowler']

836

In [56]:
pd.DataFrame.from_dict(match_scorecard['currentState']['previousBowlerCurrentSpell'], orient='index')

              0
playerId    836
ov            1
r            10
w             1
d             2
maid          0
e         10.00
wd            0
nb            0

In [57]:
match_scorecard['currentState']['currentPartnership']

17

In [58]:
pd.DataFrame(match_scorecard['currentState']['recentOvers'])

   ovNo             ovBalls
0    43  [., 4, 1, 4, 3, 2]
1    44  [., ., ., 4, ., 1]
2    45  [2, 1, 1, 4, 1, 1]
3    46  [., 2, 1, ., 1, 1]
4    47  [W, 1, ., 4, 4, 1]
5    48      [2, ., 1Wd, 4]

In [59]:
pd.DataFrame.from_dict(match_scorecard['matchInfo']['additionalInfo'], orient='index')

                                            0
referee.name                 Ranjan Madugalle
toss.elected   South Africa, who chose to bat
umpire.name.1           Richard Kettleborough
umpire.name.2                   Michael Gough
toss.winner                      South Africa
umpire.name.3             Richard Illingworth
umpire.name.4                       Aleem Dar
match.summary          India win by 6 wickets

In [60]:
pd.DataFrame.from_dict(match_scorecard['matchInfo']['venue'], orient='index')

                        0
id                     72
fullName   The Ageas Bowl
shortName  The Ageas Bowl
city          Southampton
country           England

In [61]:
pd.DataFrame.from_dict(match_scorecard['matchInfo']['matchStatus'], orient='index')

                              0
outcome                       B
text     India win by 6 wickets

In [62]:
pd.DataFrame(match_scorecard['innings'])

,inningsNumber,runRate,overProgress,declared,scorecard,overHistory
0,1,4.54,50,False,"{'runs': 227, 'wkts': 9, 'allOut': False, 'bat...","[{'ovNo': 1, 'ovBalls': ['1', '.', '.', '1', '..."
1,2,4.84,47.3,False,"{'runs': 230, 'wkts': 4, 'allOut': False, 'bat...","[{'ovNo': 1, 'ovBalls': ['.', '.', '1', '1', '..."

In [63]:
pd.DataFrame(match_scorecard['innings'][0]['overHistory'])

    ovNo                         ovBalls
0      1              [1, ., ., 1, ., .]
1      2              [., ., ., 2, ., .]
2      3              [4, ., 1, 1, ., .]
3      4             [1B, W, 4, ., ., .]
4      5              [4, 1, 2, ., ., .]
5      6              [., ., 1, 1, W, 2]
6      7              [., ., ., ., ., 4]
7      8              [1, ., ., ., ., .]
8      9              [1, ., ., ., ., .]
9     10              [., ., ., 2, ., .]
10    11              [., 1, 1, 1, ., .]
11    12              [1, 1, 1, ., ., .]
12    13              [., 2, ., 1, ., .]
13    14              [., ., ., ., 1, 4]
14    15              [2, ., 4, 1, ., 1]
15    16              [1, ., 2, 4, 1, 1]
16    17            [2, 1Lb, ., 1, ., 2]
17    18              [3, ., ., ., ., 1]
18    19              [., ., 1, ., 1, 1]
19    20         [W, ., 1Wd, ., 1, ., W]
20    21              [1, 1, 1, ., 1, 1]
21    22              [1, ., ., 1, ., 1]
22    23              [1, ., ., ., ., W]
23    24              [2, 1, ., 4, 1, 1]
24    25              [1, ., 1, 1, 1, 1]
25    26              [., 1, ., ., 1, .]
26    27              [., 1, 1, ., ., .]
27    28              [1, ., 1, ., 1, 2]
28    29              [1, ., ., 1, 4, .]
29    30              [1, ., 2, 1, ., 1]
30    31              [., ., ., ., ., .]
31    32              [., ., 1, ., ., .]
32    33              [., 1, 1, 1, ., .]
33    34              [., 1, 4, ., ., .]
34    35              [1, ., ., ., 1, .]
35    36              [., 1, W, 3, ., .]
36    37              [1, ., ., ., ., 1]
37    38    [2, 1Wd, 1, ., 1, ., 1Wd, .]
38    39              [1, 6, 1, 1, 1, 1]
39    40              [1, ., W, 1, ., 2]
40    41         [., 2, ., ., 1Wd, ., .]
41    42              [6, 1, 1, 1, ., .]
42    43              [., 1, 1, 1, 2, 4]
43    44              [., ., ., 6, 1, 1]
44    45            [., ., ., 1Lb, 1, .]
45    46  [1Wd, 1, 1Lb, 1, 1, 1Wd, 2, .]
46    47              [1, 4, 1, 2, ., 1]
47    48              [2, 1, 1, 2, 1, 2]
48    49              [., 1, ., 1, 4, .]
49    50              [., W, 2, 1, ., W]

In [64]:
pd.DataFrame(match_scorecard['innings'][1]['overHistory'])

    ovNo                  ovBalls
0      1       [., ., 1, 1, ., 1]
1      2       [., 1, ., ., ., .]
2      3       [1, ., ., 1, 4, .]
3      4       [., ., ., ., 1, .]
4      5       [2, ., ., ., ., .]
5      6       [W, ., ., ., 1, .]
6      7       [., ., ., ., ., .]
7      8  [., ., 6, 4, ., 1Wd, 4]
8      9       [., ., ., ., ., 2]
9     10       [1, 1, ., ., ., 1]
10    11       [., ., ., 1, ., 1]
11    12       [1, ., ., 1, ., 1]
12    13       [1, 1, 1, 1, ., 1]
13    14       [1, ., 1, 1, ., .]
14    15       [1, ., 1, ., 1, .]
15    16       [., 4, W, ., ., .]
16    17       [4, 1, 1, ., 1, 1]
17    18       [1, ., ., ., 2, .]
18    19       [., ., 1, ., 2, .]
19    20       [4, ., ., 1, 4, 1]
20    21     [., 1Lb, 1, 1, 1, .]
21    22       [., ., ., ., ., .]
22    23       [., 6, ., ., 1, 2]
23    24     [., ., ., ., ., 1Lb]
24    25       [., 2, ., ., ., 1]
25    26  [1Wd, 1, ., ., ., 4, 1]
26    27       [1, 4, 1, 1, 4, .]
27    28       [., 1, ., 1, ., .]
28    29       [1, ., ., 3, 4, .]
29    30       [., 1, ., 4, ., 1]
30    31       [4, ., 1, 1, 2, 2]
31    32       [., ., W, ., ., .]
32    33       [1, 1, ., 2, ., .]
33    34  [., ., ., 1Wd, ., 1, .]
34    35       [1, 1, 1, 1, 1, .]
35    36       [1, 1, ., 1, 1, .]
36    37       [., ., ., ., 4, .]
37    38       [1, ., ., 1, ., 4]
38    39       [., 1, 1, ., 1, 1]
39    40       [., ., ., ., 2, 1]
40    41       [1, ., 2, 1, ., 1]
41    42     [2, ., ., ., 1Lb, .]
42    43       [., 4, 1, 4, 3, 2]
43    44       [., ., ., 4, ., 1]
44    45       [2, 1, 1, 4, 1, 1]
45    46       [., 2, 1, ., 1, 1]
46    47       [W, 1, ., 4, 4, 1]
47    48           [2, ., 1Wd, 4]

In [65]:
list(match_scorecard['innings'][0]['scorecard'].keys())

['runs',
 'wkts',
 'allOut',
 'battingStats',
 'bowlingStats',
 'fow',
 'extras',
 'declared']

In [66]:
pd.DataFrame.from_dict(match_scorecard['innings'][0]['scorecard'], orient='index')

                                                              0
runs                                                        227
wkts                                                          9
allOut                                                    False
battingStats  [{'playerId': 456, 'r': 6, 'b': 9, 'sr': '66.6...
bowlingStats  [{'playerId': 116, 'ov': '10', 'r': 44, 'w': 2...
fow           [{'bp': {'innings': 1, 'over': 4, 'ball': 2}, ...
extras        {'noBallRuns': 0, 'wideRuns': 6, 'byeRuns': 1,...
declared                                                  False

In [67]:
pd.DataFrame(match_scorecard['innings'][0]['scorecard']['battingStats'])

,playerId,r,b,sr,4s,6s,mod
0,456,6,9,66.66,1,0,"{'dismissedBp': {'innings': 1, 'over': 4, 'bal..."
1,834,10,17,58.82,1,0,"{'dismissedBp': {'innings': 1, 'over': 6, 'bal..."
2,24,38,54,70.37,4,0,"{'dismissedBp': {'innings': 1, 'over': 20, 'ba..."
3,1277,22,37,59.45,1,0,"{'dismissedBp': {'innings': 1, 'over': 20, 'ba..."
4,187,31,40,77.50,1,0,"{'dismissedBp': {'innings': 1, 'over': 36, 'ba..."
5,182,3,11,27.27,0,0,"{'dismissedBp': {'innings': 1, 'over': 23, 'ba..."
6,1662,34,61,55.73,2,1,"{'dismissedBp': {'innings': 1, 'over': 40, 'ba..."
7,836,42,34,123.52,1,2,"{'dismissedBp': {'innings': 1, 'over': 50, 'ba..."
8,1664,31,35,88.57,2,0,NaN
9,898,0,2,0.00,0,0,"{'dismissedBp': {'innings': 1, 'over': 50, 'ba..."

In [68]:
pd.DataFrame.from_dict(match_scorecard['innings'][0]['scorecard']['bowlingStats'])

   playerId  ov   r  w   d  maid     e  wd  nb
0       116  10  44  2  33     0  4.40   2   0
1      1124  10  35  2  41     1  3.50   0   0
2      2740   6  31  0  16     0  5.16   0   0
3       261  10  46  1  28     0  4.60   1   0
4       111  10  51  4  32     0  5.10   3   0
5       297   4  16  0  13     0  4.00   0   0

In [69]:
pd.DataFrame.from_dict(match_scorecard['innings'][1]['scorecard']['battingStats'])

,playerId,r,b,sr,4s,6s,mod
0,41,8,12,66.66,1,0,"{'dismissedBp': {'innings': 2, 'over': 6, 'bal..."
1,107,122,144,84.72,13,2,NaN
2,164,18,34,52.94,1,0,"{'dismissedBp': {'innings': 2, 'over': 16, 'ba..."
3,1125,26,42,61.90,2,0,"{'dismissedBp': {'innings': 2, 'over': 32, 'ba..."
4,1,34,46,73.91,2,0,"{'dismissedBp': {'innings': 2, 'over': 47, 'ba..."
5,2740,15,7,214.28,3,0,NaN

In [70]:
pd.DataFrame.from_dict(match_scorecard['innings'][1]['scorecard']['bowlingStats'])

   playerId   ov   r  w   d  maid     e  wd  nb
0       898   10  58  0  20     0  5.80   0   0
1      1664   10  39  2  40     1  3.90   1   0
2       836   10  36  1  43     3  3.60   1   0
3      1662  8.3  40  1  30     0  4.70   1   0
4      3309    9  54  0  25     0  6.00   1   0